---
layout: base
title: Homo Digitalis
---
<div id="content" class="clearfix"> 
<div id="main"> 

{% for page in paginator.posts %}
<!-- Start post: {{page.title}}-->
  <div class="post">
    <h2 class="clear"> <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
    <p class="auth">Domenico Delle Side,
      <span title="{{ page.date | to_it_date }}" class="date">{{ page.date | to_it_date }}</span>
    </p> 
    {{ page.content }}
    
    <p class="meta">
      <span class="comment_link"><a href="{{ page.url }}#comments" title="Inserisci un commento">Commenta &raquo;&raquo;</a></span>
    &nbsp;
      <span class="metadata">Pubblicato in: {{page.tags | to_tag_string }}</span>
    </p>
  </div>
<!-- End post: {{page.title}} --> 
{% endfor %}

<p>
{% if paginator.previous_page == 1 %}
<span id="newer"><a href="/">&laquo;&laquo; Post pi&ugrave; recenti </a></span>
{% elsif paginator.previous_page %}
<span id="newer"><a href="/page{{ paginator.previous_page}}">&laquo;&laquo; Post pi&ugrave; recenti</a></span>
{% endif %}
{% if paginator.next_page %}
<span id="older"><a href="/page{{ paginator.next_page }}">Post pi&ugrave; vecchi &raquo;&raquo;</a></span>
{% endif %}
</p>
  
</div>
</div>