<!DOCTYPE html PUBLIC
   "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"  
    xml:lang="it" lang="it" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="it" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="google-site-verification" content="BvkX7HMs0hk7hwWl07g5mE3cefbw82LGezd5ABZ9aio" />
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

    <link href="http://homodigitalis.delleside.org/xml/rss" rel="alternate" title="RSS" type="application/rss+xml" />
    <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
    <link href="/css/screen.css" media="screen" rel="Stylesheet" type="text/css" />
    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22659627-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    $(document).ready(function(){
      $.getScript('http://s7.addthis.com/js/250/addthis_widget.js#async=1');

      window.addthis_config = {
        username: 'xa-4d658c707851fc44',
        ui_language: 'it',
        data_ga_property: 'UA-22659627-1',
        data_track_clickback: true
      };
      addthis.init();
    });
    </script>
  </head>
  <body>
    <div id="container" class="clearfix">
    {% include head.html %}
      <div id="content" class="clearfix">
	
      {{ content }}
	
    {% include sidebar.html%}
      </div>
    {% include footer.html%}
    </div>
  </body>
</html>
